html, body {
    height: 100%;
}

.introScene {
    background-image: url(../images/SceneIntro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Germania One', cursive;
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-family: 'Germania One', cursive;
    font-size: 25px;
    font-weight: bold;
}

#introParagraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.border {
    border-style:solid;
    border-width: 5px;
    /* border-color: black; */
    border-color: green;
    height: 100px;

}

#wholegame  {
    width:1000px;
    height:950px;
    padding: 20px;

}

#questionstatus {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

#questions {
    width:600px;
    height:330px;       
    float:left;
}

#status  {
    float:right;
    width: 360px;
}

#answersitems  {
    width: 600px;
    margin-left: 10px;
    height: auto;
    float: left;
}

#itemsHolder {
    border: solid 5px green;
    float: right;
    width: 330px;
    height: 310px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    background:rgb(120, 250, 120);
}

#startButton {
    animation: blinker 1s linear infinite; 
}
    @keyframes blinker {  
    50% { opacity: 0; }
  }     

#itemsCollected {
    border: solid 3px brown;
    border-radius: 5px;
    background: linear-gradient(rgb(110, 45, 15), rgb(75, 219, 111), rgb(110, 45, 15));  
    font-family: 'Germania One', cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    animation: blinker 1s linear infinite; 
    margin-top: 20px;
}  

/* .right {
    float:right;
    width: 360px;
} */

/* #itemsContainer {
    margin-top: 10px;
    padding: 10px;
} */

#food, #staff, #flute {
    border: solid 5px darkgray;
    box-shadow: 0px 0px 20px #fff;
    margin-top: 5px;
    margin-left: 15px;
}

#itemDescription {
    padding: 5px;
    width: auto;
    height: auto;
    background: lightgray;
    margin-top: 20px;
    border: solid 2px lightgray;
    font-family: 'Germania One', cursive;
    font-size: 20px;
    display: inline-block;
}